  html {
    padding:30px;
  }

  body {
    background-image: url("phil.jpeg");
    background-size: cover;
    background-attachment: fixed;
  }

  h2 {
    text-decoration: line-through;
    font-size: 15px;
  }

  img.size_image {
    width: 50vw;
    height: 40vh auto;
  }

  .img_desc {
    color: white;
    line-height: 2;
    font-size: large;
  }

  .img_d {
    line-height: 2;
    font-size: large;
  }

  div.sticky_h1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 3px;
    background-image: radial-gradient(white, #89CFF0);
    border: 2px solid #4CAF50;
    text-align: center;
    z-index: 100;
  }

  .line_height {
    line-height: 20%;
  }

  div.sticky_img {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    border: 2px solid #4CAF50;
    text-align: center;
    z-index: 1;
  }

  #transparency:hover img {
    opacity: .5;  
  }

  .container {
    position: relative;
    width: 50%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40vh auto;
    width: 50vw;
    opacity: 0;
    transition: .5s ease;;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  tr.sticky_scroll {
    position: sticky;
    top: 150;
    left: 0;
    width: 100vw;
    height: auto;
  }

  .imagerow1 {
    background-color: #730716;
  }
  
  .imagerow2 {
    background-color: #eee;
  }

  .imagerow1, .imagerow2 {
    position: sticky;
    top: 150;
    left: 0;
    width: 100vw;
    height: 40vh;
    overflow: scroll;
  }

  .drop-down_menu {
    position: relative;
    display: inline-block;
  }

  