html {
    padding-top: 2vh;
    padding-bottom: 5vh;
}


/* background color */
body {
    background-color: black;
    color: white;
    
}

h1 {
    font-family: 'Lucida Handwriting', cursive;
}


#boxes {
        content: "";
        display: table;
        clear: both;
}
div {
        float: left;
        height: 470px;
        width: 23%;
        padding: 0 10px;
}
#column1 {
        background-color: #a1edcc;
}
#column2 {
        background-color: #a0e9ed;
        width: 43%;
}
#column3 {
        background-color: #f497f1;
}
h2 {
        color: #000000;
        text-align: center;
}
