html {
    padding-top: 2vh;
    padding-bottom: 5vh;
}

/* background color */
body {
    background-color: #D6C9AF;
}
  
@keyframes color-change {
    0% {
      background-color: #aa0000;
    }
    20% {
        background-color: indianred;
    }
    40% {
        background-color: yellow;
    }
    60% {
      background-color: gold;
    }
    80% {
      background-color: yellowgreen;
    }
    95% {
      background-color: green;
    }
    100% {
        background-color: brown;
    }
}

/* sticky heading*/
div.sticky_h {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px;
    background-image: radial-gradient(white, #89CFF0);
    float: inherit;
    border: 2px solid #4CAF50;
    z-index: 100;
    border-radius: 1em;
    transition: 0.2s;
}


p {
    line-height: 150%;
}

h1 {
    text-align: center;
}

h1:hover,h3:hover {
    -webkit-background-clip: text;
    background-clip: text;
    animation: 4000ms ease-in-out infinite color-change;
    color: transparent;
}


.readings {
   float: left;
}

.readings:hover {
    font-size: larger;
}
.sections {
    float: right;
}

.sections:hover{
    font-size: larger;
}

h2,h3 {
    text-align: center;
}
/* unvisited link */
a:link {
    color: white;
}
  
  /* visited link */
a:visited {
    color: green;
}
  
  /* hover link */
a:hover {
   color: red;
     /*change the cursor to the aya adinkra everytime you hover on a link*/
    cursor: url('aya_adinkra.png'), auto;
}
  
  /* selected link */
a:active {
   color: yellow;
}

.drop-down_menu {
    position: relative;
    display: inline-block;
}

#menuwrapper {
    width: 100px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
}
  
#menuwrapper:hover {
    height: auto;
}
  
#menuitems a {
    display: block;
    width: 100%;
}

#intro {
    font-style: italic;
    /* padding: 10px;
    background-image: radial-gradient(white, #89CFF0);
    border: 2px solid #4CAF50; */
    /* z-index: 100; */
}

#scrollBtn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer; 
}

#scrollBtn > .top {
    display: none; 
} 
#scrollBtn.scrollUp > .top { 
    display: initial;
 } 
#scrollBtn.scrollUp > .bottom {  
    display: none; 
}

img.size_image {
    width: 50vw;
    height: 40vh auto;
}

#transparency:hover img {
    opacity: .5;  
}

.container {
    position: relative;
    width: 50%;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40vh auto;
    width: 50vw;
    opacity: 0;
    transition: .5s ease;;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}